html,body{
  height: 150%;
  margin: 0;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

.background-img{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-nature{background-image: url("../img/nature.png");}
.img-mountain{background-image: url("../img/mountain.png");}
.img-forest{background-image: url("../img/forest.png");}

.profil{
  margin-top: 25vh;
  position: fixed;
  margin-left: 25px;
  width: 12vw;
  height: 12vw;
  background: #4C4C4C;
  border: 3px solid black;
  border-radius: 50%;
}

.projects{
  margin-top: 50vh;
  position: fixed;
  margin-left: 25px;
  width: 12vw;
  height: 12vw;
  background: #4C4C4C;
  border: 3px solid black;
  border-radius: 50%;
}

.data{
  position: fixed;
  margin-top: 75vh;
  margin-left: 25px;
  width: 12vw;
  height: 12vw;
  background: #4C4C4C;
  border: 3px solid black;
  border-radius: 50%;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 50%;
}

.divide{
  position: absolute;
  height: 1vw;
  width: 50vw;
  left: 7vw;
  top: 9vh;

  background: #FFFFFF;
  border-radius: 10px;
}

.font_name{
  color: #FFFFFF;
  position: relative;
  font-size: 30px;
  left: 7vw;
  top: 2vw;
}

/*Profil*/
.about_me_text{
  position: absolute;
  width: 65vw;
  height: 95vw;
  left: 30vw;
  top: 75vw;
  background: #161616;
  opacity: 0.8;
  border-radius: 25px;
}

.text_font{
  color: #FFFFFF;
  position: absolute;
  font-size: 4.2vw;
  left: 7vw;
  top: 17vw;
  padding-right: 1vw;
}

.img_profil{
  object-fit: cover;
  position: absolute;
  left: 30vw;
  top: 3vh;
  border-radius: 25px;
  height: 65vw;
  width: 65vw;
}

.github{
  object-fit: cover;
  position: relative;
  height: 17vw;
  width: 17vw;
  top: 53vw;
  left: 6vw;
}

.linkedin{
  object-fit: cover;
  position: relative;
  height: 17vw;
  width: 17vw;
  top: 53vw;
  left: 20vw;
}

/*Projects*/
.projects_field{
  position: relative;
  left: 30vw;
  top: 10vh;
  width: 65vw;
  height: 25vh;
  background: #161616;
  opacity: 0.8;
  border-radius: 25px;
}

.first_project{
  position: absolute;
  left: 40vw;
  top: 155vh;
  width: 40vw;
  height: 40vw;
  background: #161616;
  border-radius: 50%;
}

.sec_project{
  position: absolute;
  left: 40vw;
  top: 180vh;
  width: 40vw;
  height: 40vw;
  background: #161616;
  border-radius: 50%;
}

.projects_box{
  position: relative;
  width: 35vw;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5vw;
  background: #2E41E8;
  border-radius: 50%;
}

.projects_icon{
  object-fit: cover;
  position: absolute;
  height: 15vw;
  width: 15vw;
  margin-left: 10vw;
  margin-right: auto;
  margin-top: 5vw;
}

.project_name{
  color: #000000;
  position: absolute;
  font-size: 13px;
  left: 5vw;
  top: 17vw;
  padding-right: 1vw;
}

.projects_title{
  color: #FFFFFF;
  position: relative;
  font-size: 30px;
  left: 7vw;
  top: 6vw;
}

/*Resume*/
.info_box{
  position: relative;
  width: 65vw;
  height: 15vw;
  left: 30vw;
  top: 5vh;
  background: #161616;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  border-radius: 10px;
}

.resume_text{
  color: #FFFFFF;
  position: relative;
  font-size: 30px;
  left: 5vw;
  top:4vw;
}

.resume_box{
  position: relative;
  width: 65vw;
  height: 65vw;
  left: 30vw;
  top: 5vh;
  background: #161616;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  border-radius: 10px;
}

.skills_box{
  position: relative;
  width: 65vw;
  height: 75vw;
  left: 30vw;
  top: 10vw;
  background: #161616;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  border-radius: 10px;
}

.divide_resume{
  position: absolute;
  height: 1vw;
  width: 50vw;
  left: 5vw;
  top: 7vh;
  background: #FFFFFF;
  border-radius: 10px;
}

.list_data{
  position: relative;
  top: 3vw;
  font-size: 4.5vw;
  color: #FFFFFF;
  line-height: 150%;
}

@media only screen and (min-width: 768px)
{
  .profil{
    margin-top: 25vh;
    position: fixed;
    margin-left: 25px;
    width: 12vw;
    height: 12vw;
    background: #4C4C4C;
    opacity: 0.9;
    border-radius: 25px;
  }

  .projects{
    margin-top: 50vh;
    position: fixed;
    margin-left: 25px;
    width: 12vw;
    height: 12vw;
    background: #4C4C4C;
    border-radius: 25px;
  }

  .data{
    position: fixed;
    margin-top: 75vh;
    margin-left: 25px;
    width: 12vw;
    height: 12vw;
    background: #4C4C4C;
    border-radius: 25px;
  }
}
